<h1>Angular - Actyx-Pond - Machine control</h1>
<hr />
<div>
  <h2>Machine1</h2>
  <div *ngIf="machine$ | async as machine; else loading">
    <dl>
      <dt>state:</dt>
      <dd>{{machine.state}}</dd>
    </dl>
    <button *ngIf="machine.state==='idle'" (click)="start()">start</button>
    <button *ngIf="machine.state==='inProduction'" (click)="stop()">stop</button>
  </div>
  <hr />
  <div *ngFor="let machine of (allMachines$ | async)">
    <dl>
      <dt>Name:</dt>
      <dd>{{machine.machineId}}</dd>
      <dt>State:</dt>
      <dd>{{machine.state}}</dd>
    </dl>
  </div>
</div>
<ng-template #loading>Loading machine data...</ng-template>
